<% provide(:title, "Home") %>

<h1>All Time Favorite Jokes</h1>

<p>Jokes will go here</p>

<p>Not a member?</p>
<p> <%= link_to "Register today!", signup_path, class: "btn btn-lg btn-primary" %></p>

